.contact-container{
    margin: 4rem 6rem;
    text-align: start;
}

.contact-container h1{
    padding-bottom: 1rem;
}

.contact-container p{
    padding-bottom: 2rem;
}

@media screen and (max-width:850px){
    .contact-container{
        margin: 4rem 2rem;
    }
}