.form-container{
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.form-container form{
    padding-top: 3rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    border-color: white !important;
}

.form-container textarea{
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.form-container button{
    text-decoration: none;
    background: #dadbdef2;
    width:50%;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222;
    margin: auto;
}

@media screen and (max-width:850px){
    .form-container{
        margin: 4rem 2rem;
    }

    .form-container form{
        padding-top: 3rem;
        width: 90%;
        
    }

    

}